<style type="text/css">
.pozadinaCrvena{ background-color: red;}
p:nth-of-type(2){ background-image: url(https://icatcare.org/app/uploads/2018/09/Scottish-fold.png);}
#p3{background: url(https://www.nationalgeographic.com/content/dam/news/2018/05/17/you-can-train-your-cat/02-cat-training-NationalGeographic_1484324.jpg) no-repeat left bottom; background-size:cover;}
</style>