body{

	background-color: black;
	display: flex;
	justify-content: space-between;
}

div{

	background-color: white;
	height: 150px;
	width: 150px;

}

.one{

	background-image: url(bird.jpg); 
	background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: center;
}

.two{

	background-image: url(cats.jpg); 
	background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: center;
}

}