body{

	background-color: grey;

}

h1{

	width: 100px;
	height: 300px;
	margin: auto;
	animation-name: naslov;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes naslov{

	0%{margin-top: -200px;}
	100%{margin-top: 200px;height: 40px;}
}

p{
	width: 50%;
	margin: auto;
	margin-left: -1000;
	margin-top: 200px;
	animation-name: paragraf;
	animation-duration: 2s;
	animation-fill-mode: forwards;

}

@keyframes paragraf{

	0%{margin-left: -1000px;}
	100%{margin-left: 0;}
}
